/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    line-height: 1.6;
    padding: 20px;
    width: 100%;
    height: 100vh;
}

header {
    background: #50b3a2;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    border-radius: 50px;
    height: 50px;
    

}

nav {
    display: flex;
    gap: 15px;
    color: #000102;
    text-decoration: none;
    font-weight: bold;

}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-right: 70px;
}

li a {
    text-decoration: none;
    color: #000102;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 4;
    font-style: normal;
    font-size: 1.5em;
}

.P1 {
    padding-left: 250px;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 4;
    font-style: normal;
    font-size: 1.5em;
    color: #000102;
}

li a:hover {
    color: #edf3f2;
}

.logo {
    height: 60px;
    margin-left: 70px;
}

.logo_container {
    display: flex;
    align-items: center;
}

main{
    margin-top: -10px;
}

.i1 {
    width: 150px;
}


 */
